<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="OpenFlow Tests">
            <directory>tests/</directory>
            <exclude>tests/fixtures/</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">lib/</directory>
            <directory suffix=".php">admin/</directory>
            <directory suffix=".php">api/</directory>
        </include>
    </source>
    <coverage>
        <report>
            <html outputDirectory="coverage/"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
</phpunit>
